{
  "env": {
    "node": true,
    "browser": false,
    "es6": true,
    "jest/globals": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "globals": {
    "exampleGlobalVariable": true
  },
  "rules": {
    "eqeqeq": 1
  },
  "plugins": ["jest"]
}